
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="input-group search-group">
        <input type="text" class="form-control" placeholder="Найти...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div><!-- /input-group -->
}