@{
    ViewBag.Title = "Обо мне";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content">
    @*<div>
            <h2 class="fio">Дробыш Лилия Васильевна</h2>
        </div>*@
    <div class="row profile">
        <div class="col-md-4">
            <div>
                <img src="~/Images/About/_DSC0206.jpg" class="img-responsive profile-image" />
            </div>
            <div class="name-box">
                <p class="fio">Дробыш Лилия Васильевна</p>
                <p class="status">адвокат</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="subtitle">
                <p>Биография</p>
            </div>
            <div>
                <p class="text-about">
                    Примечание переводчика. На мой взгляд, создание стилевых
                    Bundle`ов с помощью файла Bundle.config ограничивает разработчика,
                    т.к. пропадает возможность добавлять пользовательские трансформации
                    Bundle`ов (классы, реализующие интерфейс IBundleTransform).
                    Сейчас существуют целые библиотеки таких трансформаций (например,
                    Bundle Transformer), которые позволяют транслировать LESS-, Sass-,
                    SCSS- и CoffeeScript-код, а также использовать другие алгоритмы
                    минимизации кода (по умолчанию в B/M используется некая модификация
                    Microsoft Ajax Minifier).
                </p>
            </div>
            <div class="subtitle">
                <p>Образование</p>
            </div>
            <div>
                <p class="text-about">
                    Примечание переводчика. На мой взгляд, создание стилевых
                    Bundle`ов с помощью файла Bundle.config ограничивает разработчика,
                    т.к. пропадает возможность добавлять пользовательские трансформации
                    Bundle`ов (классы, реализующие интерфейс IBundleTransform):
                    <ul>
                        <li>IBundleTransform</li>
                        <li>IBundleTransform</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-12 etc-info">
            <div class="subtitle">
                <p>Судебные дела</p>
            </div>
            <div>
                <p class="text-about">
                    Примечание переводчика. На мой взгляд, создание стилевых
                    Bundle`ов с помощью файла Bundle.config ограничивает разработчика,
                    т.к. пропадает возможность добавлять пользовательские трансформации
                    Bundle`ов (классы, реализующие интерфейс IBundleTransform):

                </p>
            </div>
            <div class="subtitle">
                <p>Руководство, награды и т.д.</p>
            </div>
            <div>
                <p class="text-about">
                    Примечание переводчика. На мой взгляд, создание стилевых
                    Bundle`ов с помощью файла Bundle.config ограничивает разработчика,
                    т.к. пропадает возможность добавлять пользовательские трансформации
                    Bundle`ов (классы, реализующие интерфейс IBundleTransform):

                </p>
            </div>
        </div>

    </div>
    <div class="row principles-block profile">
        <div class="col-md-12">
            <p class="subtitle">Мои принципы</p>
        </div>
        <div class="col-md-6">
            <div class="principle">
                <div class="principle-left">
                    <h5>01</h5>
                </div>
                <div class="principle-right">
                    <p>Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="principle">
                <div class="principle-left">
                    <h5>02</h5>
                </div>
                <div class="principle-right">
                    <p>Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="principle">
                <div class="principle-left">
                    <h5>03</h5>
                </div>
                <div class="principle-right">
                    <p>Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="principle">
                <div class="principle-left">
                    <h5>04</h5>
                </div>
                <div class="principle-right">
                    <p>Vero vulputate enim non justo posuere placerat. Phasellus eget purus vel mauris tincidunt tincidunt.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>