@model LawFirm.Presenter.Models.PracticeViewModels.PracticeViewModel

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@Model.Title</h2>
    </div>
</div>
<div class="container body-content">
    <div class="row">
        <div class="practice-img">
            <img src="/@Model.ImagePath" class="img-responsive" />
        </div>
        <div class="practice-text">
            @Html.Raw(Model.Text)
        </div>
    </div>
</div>