@model LawFirm.Presenter.Models.PracticeViewModels.PracticeView
@{
    ViewBag.Title = "Области деятельности";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content">
    <div class="practice-areas-block">
        <div class="row preview-block">
            @foreach (var item in Model.Practices) {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 square">
                    <a href="@Url.Action("Details", "Practice", new {id = item.Id})" style='background-image: url(@item.ImagePath)'>
                        <div class="back-shadow">
                            <p>@item.Title</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

