@using LawFirm.Presenter.Models
@model AboutViewModel

<div class="col-md-3  footer-block">
    <div class="shortblock">
        <h4>Обо мне</h4>
        <div class="">
            <p>
                @Model.About
                @*Maecenas etos sit amet, consectetur adipis cing elit. Terminal volutpat rutrum metro amet sollicitudin interdum.
                Ante tellus gravida mollis tellus neque vitae elit. Mauris adipiscing mauris...*@
            </p>
        </div>
    </div>
</div>
