@using LawFirm.Presenter.Models

<div class="callme-block">
    <div class="text-center">
        <p class="question">У Вас есть проблемы и Вам не с кем проконсультироваться?</p>
        <p class="answer">Обратитесь ко мне! Я обещаю Вам помочь! Позвоните сейчас! 8-029-123-45-67</p>
        <div class="item-icon">
            <i class="glyphicon glyphicon-earphone"> </i>
            <div class="item-icon-divider line-left" style="width: 505px;"></div>
            <div class="item-icon-divider line-right" style="width: 505px;"></div>
        </div>
    </div>
</div>