@model LawFirm.Presenter.Models.CallMeBlockViewModel

<div class="callme-block">
    <div class="text-center">
        <p class="question">@Model.Question</p>
        <p class="answer">@Model.Answer @Model.PhoneNumber</p>
        <div class="item-icon">
            <i class="glyphicon glyphicon-earphone"> </i>
            <div class="item-icon-divider line-left" style="width: 505px;"></div>
            <div class="item-icon-divider line-right" style="width: 505px;"></div>
        </div>
    </div>
</div>