@model LawFirm.Presenter.Models.PracticeViewModels.PracticeView

<div class="practice-areas-block">
    <div class="text-center">
        <h2>Области практики</h2>
    </div>
    <div class="reference text-center">
        <a href="@Url.Action("Index","Practice")">Перейти к полному списку</a>
        <i class="glyphicon glyphicon-arrow-right"></i>
    </div>
    <div class="row preview-block">
        @foreach (var item in Model.Practices) {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 square">
                <a href="@Url.Action("Details", "Practice", new {id = item.Id})" style='background-image: url(@item.ImagePath)'>
                    <div class="back-shadow">
                        <p>@item.Title</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<hr />