@model LawFirm.Presenter.Models.TestimonialViewModels.TestimonialView

<div class="testimonials-preview-block">
    <div class="title-practice text-center">
        <h2>Отзывы клиентов</h2>
    </div>
    <div class="reference text-center">
        <a href="@Url.Action("Index", "Testimonial", new {area = ""})">Перейти к полному списку</a>
        <i class="glyphicon glyphicon-arrow-right"></i>
    </div>
    <div class="row preview-block client-say">
        @foreach (var item in Model.Testimonials) {
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 item-container">
                <h4>@item.Author</h4>
                <div class="">
                    <p>@item.Text</p>
                </div>
            </div>
        }
    </div>
</div>
<hr />