@model LawFirm.Presenter.Models.BlogViewModels.LikeViewModel

<a data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update='#likeComment@(Model.PublicationId)' 
        href="@Url.Action("LikingComment", "Like", new { id = Model.PublicationId })"
        class='@(Model.IsLiked ? "liked-link" : "")'>
    <i class="glyphicon glyphicon-thumbs-up"></i>
    <span>@Model.Count</span>
</a>
