body li {
  list-style: none;
}
body a {
  color: #000000;
}
body a:hover {
  text-decoration: none;
  color: #000000;
}
/*.navbar{
    min-height: 70px;
}*/
/*#custom-menu {
    ul {
        height: 70px;
        vertical-align: middle;
    }

    li {
        display: table;
        height: 100%;

        a {
            display: table-cell;
            vertical-align: middle;
            padding: 10px 15px;
            font-size: 16px;
        }
    }
}*/
.logo-img {
  height: 50px;
}
.navbar-inverse {
  border-color: #259c58;
  background-color: #259c58;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #ade0c3;
}
@media (max-width: 990px) {
  #custom-menu li a {
    padding: 10px;
  }
  /*.nav > li > a {
        padding: 10px;
    }*/
}
.footer {
  background-color: #282828;
  color: white;
  padding: 20px;
}
.footer p {
  color: #c7c7c7;
}
.footer h4 {
  color: #c7c7c7;
  background: url('../Images/footer-headng.png') left bottom no-repeat;
  padding-bottom: 10px;
  margin-bottom: 38px;
}
.footer .shortblock p {
  color: #606060;
  margin-bottom: 30px;
}
.footer .shortblock ul {
  padding: 0px;
}
.footer .shortblock .menu li {
  width: 70%;
  cursor: pointer;
}
.footer .shortblock li {
  border-bottom: 1px solid #525252;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #999;
  font: 14px 'ralewayregular', sans-serif;
}
.footer .shortblock li a {
  color: #999;
}
.footer .shortblock li a:hover {
  color: #c7c7c7;
}
.footer .footer-contacts-list li {
  display: table;
  width: 90%;
}
.footer .footer-contacts-list li .footerlist-glyphicon {
  display: table-cell;
  padding-right: 10px;
  width: 10%;
}
.footer .footer-contacts-list li .footerlist-text {
  display: table-cell;
}
@media (max-width: 990px) {
  .footer-block {
    width: 50%;
    float: left;
    margin-bottom: 20px;
  }
}
@media (max-width: 562px) {
  .footer h4 {
    background-position: center bottom;
    text-align: center;
  }
  .footer .shortblock {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .footer .shortblock .menu li {
    width: 100%;
  }
  .footer .footer-contacts-list .footerlist-glyphicon {
    padding-right: 0px;
  }
  .footer .footer-contacts-list li {
    width: 100%;
  }
  .footer .footer-contacts-list br {
    display: none;
  }
  .footer-block {
    width: 100%;
    margin-bottom: 20px;
  }
}
.body-content {
  min-height: 600px;
  margin-top: 20px;
}
.slider {
  /*margin-top: 20px;*/
}
.question {
  font-size: 37px;
  font-style: italic;
  margin-bottom: 12px;
}
.answer {
  font-size: 20px;
  color: #259c58;
}
.item-icon {
  font-size: 40px;
  line-height: 1;
  position: relative;
}
.item-icon i {
  margin-right: 0px;
}
.item-icon-divider.line-left {
  left: 0px;
}
.item-icon-divider {
  border-top-width: 1px;
  border-top-style: solid;
  position: absolute;
  top: 50%;
  margin-top: -1px;
}
.item-icon-divider.line-right {
  right: 0px;
}
.item-caption,
.item-icon,
.text-caption {
  color: #259c58;
}
.callme-block {
  margin-top: 20px;
  display: block;
}
@media (max-width: 1000px) {
  .item-icon-divider {
    max-width: 319px;
  }
}
@media (max-width: 767px) {
  .item-icon-divider {
    max-width: 145px;
  }
  .question {
    font-size: 25px;
  }
}
@media (max-width: 419px) {
  .item-icon-divider {
    max-width: 145px;
  }
  .question {
    font-size: 20px;
  }
}
.reference a,
.reference i {
  color: #259c58;
  font-style: italic;
}
.preview-block {
  margin-top: 20px;
  margin-bottom: 40px;
}
.square {
  height: 300px;
  margin-top: 20px;
}
.square .back-shadow {
  background: #ffffff;
  opacity: 0.7;
}
.square a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 145px 30px 0;
}
.square a p {
  margin: 0;
  text-align: center;
  padding: 10px;
}
.client-say h4 {
  font-weight: 700;
  color: #333;
}
.client-say p {
  font-style: italic;
}
.left-bar .pagination-container {
  padding-left: 40px;
}
.left-bar .pagination > .active > a,
.left-bar .pagination > .active > a:focus,
.left-bar .pagination > .active > a:hover,
.left-bar .pagination > .active > span,
.left-bar .pagination > .active > span:focus,
.left-bar .pagination > .active > span:hover {
  background-color: #259c58;
  border-color: #259c58;
  color: #fff;
}
.left-bar .pagination > li > a {
  color: #259c58;
}
.img-preview img {
  width: 100%;
}
.details {
  padding: 10px 0 5px;
  width: 100%;
  display: inline-block;
}
.details a {
  color: #7C7F82;
  cursor: pointer;
}
.details a:hover {
  color: #4A4F55;
}
.data {
  /*width: 70%;*/
  position: relative;
  display: inline-block;
  float: left;
  /*font-size: 10px;*/
  font-style: normal;
  text-transform: uppercase;
  color: #7C7F82;
}
.comment {
  float: right;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.like {
  float: right;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.popular-preview {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.liked-link {
  color: #259c58 !important;
}
.liked-link:hover {
  color: #256B3E !important;
}
.title {
  padding: 5px 0;
  border-bottom: 1px solid #EDEDED;
}
.title a {
  color: #259c58;
  font-size: 16px;
  cursor: pointer;
}
.title a:hover {
  color: #256B3E;
}
.short-text {
  padding: 10px 0;
}
.short-text p {
  color: #4A4A4A;
  /*font-size: 14px;*/
  line-height: 20px;
}
.short-text a {
  color: #4A4A4A;
  cursor: pointer;
}
.short-text a:hover {
  color: #4A4F55;
}
.item-container {
  margin-top: 15px;
}
.form {
  padding: 10px 0 30px;
  background: url('../Images/green-gradient-wallpaper-1.jpg') no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
#forma {
  min-height: 340px;
}
#forma #inputDescription,
#forma #inputArea {
  height: 180px;
}
#forma #inputReply {
  height: 130px;
}
.btn-success-own {
  color: #259c58;
  background-color: #fff;
  /*border-color: @green-menu-color;*/
}
.title-form {
  padding-bottom: 5px;
}
.add-text {
  padding-bottom: 10px;
}
.result {
  padding: 20px 0 20px;
  margin-top: 50px;
}
.title-page-wrap {
  background: #eeecec;
}
.page-title {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: inline-block;
  background: url("../Images/heading-bg2.png") left bottom no-repeat;
}
.name-box {
  margin-top: 30px;
}
.fio {
  font-size: 1.5em;
}
.status {
  font-style: italic;
}
.profile .subtitle {
  font-weight: 700;
  font-size: 16px;
}
.profile ul li {
  list-style: disc;
}
.profile .etc-info {
  margin-top: 20px;
}
.profile-image {
  margin: 0 auto;
}
.text-about {
  line-height: 21px;
  font-family: Arial, sans-serif;
  text-align: justify;
}
.principle {
  margin-top: 1em;
  margin-bottom: 1em;
}
.principle-left {
  float: left;
  width: 50px;
  background-color: #259c58;
  text-align: center;
  padding: 0.5em;
  color: #ade0c3;
}
.principle-right {
  float: right;
  width: 85%;
}
.principles-block {
  margin-bottom: 40px;
}
@media (max-width: 419px) {
  .principle-right {
    width: 80%;
  }
}
.practice-img {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
.practice-text p {
  line-height: 21px;
  font-family: Arial, sans-serif;
  text-align: justify;
}
.practice-text ol > li {
  list-style-type: decimal;
}
/*редактирование*/
.modification-container {
  position: absolute;
  top: 72%;
  left: 25%;
  text-align: center;
}
.btn-edit {
  display: inline-block;
  margin-right: 15px;
}
.btn-edit a.editing {
  text-transform: capitalize;
  display: inline-block;
  padding: 6px 16px;
  font-size: .8725em;
  font-weight: 300;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  background: 0 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.btn-edit a.editing:active,
.btn-edit a.editing:focus,
.btn-edit a.editing:hover {
  color: #3f3d3d;
  background-color: #fff;
  opacity: .9;
}
.btn-container {
  /*padding-left: 15px;*/
}
.btn-add {
  color: #fff;
  background-color: #259c58;
  padding-right: 15px;
}
.inquiries-container {
  margin-bottom: 50px;
}
.form-block textarea {
  height: 180px;
}
.upload-box {
  margin: 20px 0;
}
.upload-box input {
  width: 100%;
  height: 34px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
/*.file_upload {
    position: relative;
    overflow: hidden;
    background-color: #AC3166;
    color: white;
    padding: 5px 10px;
    line-height: 1;
    text-align: center;
    width: 80px;
}

 .file_upload input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 200px;
        cursor: pointer;
       //opacity: 0;
    //filter: alpha(opacity=0);
    }
.btn-basket {
    background-color: #AC3166;
    font: 17px Arial;
    color: white;
    padding: 5px 10px;
    outline: none;
    border: none;
}*/
.contacts-title {
  margin-bottom: 40px;
  display: table;
}
.contacts-title h4 {
  display: table-cell;
  padding-right: 40px;
}
.contacts-title a {
  display: table-cell;
  padding: 5px;
  border: 1px dashed black;
  border-radius: 10px;
}
.contacts-title a i {
  padding-right: 5px;
}
.p {
  background: #259c58;
  color: #ade0c3;
  margin-top: 15px;
}
.contacts-list {
  padding: 0;
}
.contacts-list li {
  display: table;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #616161;
}
.contacts-list li .glyphicon-box {
  font-size: 2em;
  display: table-cell;
  padding-right: 10px;
  width: 10%;
}
.contacts-list li .glyphicon-box i {
  color: #259c58;
}
.contacts-list li .text-box {
  display: table-cell;
  vertical-align: middle;
}
.contacts-list li br {
  display: none;
}
iframe {
  height: 400px;
  width: 100%;
  border: 2px solid gray;
  padding: 6px;
}
.map-container {
  margin-bottom: 30px;
}
.form-contacts {
  padding: 30px 0;
}
@media (max-width: 990px) {
  .form-block {
    width: 57%;
    float: left;
  }
  .contact-info-block {
    width: 35%;
    float: left;
    margin-left: 8%;
  }
  .contacts-list li br {
    display: inline;
  }
}
@media (max-width: 677px) {
  .form-block {
    width: 100%;
    margin-bottom: 40px;
  }
  .contact-info-block {
    width: 100%;
    margin-left: 0;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .contacts-list li {
    margin: 0 auto;
  }
  .contacts-list li br {
    display: none;
  }
}
@media (max-width: 350px) {
  .contacts-list li {
    margin: 0 auto;
  }
  .contacts-list li br {
    display: inline;
  }
}
.blog-preview-page .details {
  font-size: 17px;
}
.btn-default {
  background-color: #fff;
  border-color: #ccc;
}
.search-group {
  margin-bottom: 40px;
}
.right-bar {
  margin-top: 15px;
}
.right-bar h4 {
  color: #322c2b;
  background: url(../images/heading-bg2.png) left bottom no-repeat;
  padding-bottom: 18px;
}
.right-bar p {
  color: #929292;
}
.recent-news {
  margin-bottom: 40px;
}
.recent-news ul {
  padding: 0;
}
.recent-news ul li {
  border-bottom: 1px solid #eeecec;
  padding-bottom: 10px;
  padding-top: 10px;
}
.recent-news ul li:last-child {
  border: 0px;
}
.item-preview-container {
  display: table;
  /*background:*/
}
.item-preview-container .img-preview {
  display: table-cell;
  width: 30%;
  padding: 5px;
}
.item-preview-container .shortest-text {
  display: table-cell;
  width: 70%;
  padding: 0 10px;
  vertical-align: top;
}
.item-preview-container .shortest-text .news-title {
  color: #322c2b;
}
.archive {
  /*margin-top: 40px;*/
  margin-bottom: 40px;
}
.archive ul {
  padding: 0;
  /*margin-top: 20px;*/
}
.archive ul li {
  width: 45%;
  float: left;
  margin-right: 10px;
  border-bottom: 1px solid #eeecec;
  margin-bottom: 20px;
  font-size: 15px;
  background: url(../images/bullet_picture.png) left 5px no-repeat;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 2px;
}
.archive ul li:nth-child(2n) {
  float: right;
}
.categories {
  /*margin-top: 40px;*/
  margin-bottom: 40px;
}
.categories ul {
  padding: 0;
  /*margin-top: 20px;*/
}
.categories ul li {
  width: 45%;
  float: left;
  margin-right: 10px;
  border-bottom: 1px solid #eeecec;
  margin-bottom: 20px;
  font-size: 15px;
  background: url(../images/bullet_picture.png) left 5px no-repeat;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 2px;
}
.categories ul li:nth-child(2n) {
  float: right;
}
.article-text {
  margin: 20px 0;
}
.article-text p {
  text-align: justify;
  color: #4A4A4A;
  font-size: 16px;
  line-height: 30px;
}
.date-publicate {
  position: relative;
  display: inline-block;
  float: left;
  color: #4A4A4A;
  font-weight: 600;
}
.full a {
  font-weight: 600;
  color: #4A4A4A;
}
.full a:hover {
  color: #000;
}
.comments {
  margin-top: 40px;
}
.comments-title {
  color: #322c2b;
  background: url(../images/heading-bg2.png) left bottom no-repeat;
  padding-bottom: 18px;
  padding-bottom: 5px;
}
.comments-title h4 {
  font-weight: 600;
}
.comments-collection {
  margin-top: 40px;
}
.comment-one {
  margin: 10px 0 40px;
  background: #eeecec;
  padding: 20px;
}
.comment-details {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.comment-details span {
  margin: 0 5px;
}
.comment-details .author-name {
  font-size: 17px;
  font-weight: 600;
}
.comment-details .date-comment {
  color: #259c58;
  font-weight: 600;
}
.comment-text {
  padding-top: 10px;
}
.comment-info {
  margin: 10px 0;
  padding-bottom: 10px;
}
.comment-info .like {
  font-size: 17px;
  float: right;
  margin-right: 10px;
  margin-left: 0;
}
.comment-info .comment {
  font-size: 17px;
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
.create-comment {
  margin-bottom: 30px;
}
.create-comment [class^=col-] {
  padding-left: 0;
}
/*.create-comment [class^=col-] {
    padding-left: 0;
}*/
.comment-answers-collection {
  padding-left: 20px;
}
@media (max-width: 375px) {
  .blog-preview-page .details {
    font-size: 14px;
  }
}
.testimonials-container {
  padding: 10px;
  text-align: center;
}
.author {
  font-weight: 700;
}
.testimonial-block {
  border: 1px solid #C1C1C1;
  padding: 20px;
}
.testimonial-text {
  font-size: 16px;
  font-style: italic;
}
.break {
  margin-bottom: 10px;
}
.testimonial-creation {
  margin-top: 50px;
}
.form-modify {
  padding-top: 40px;
  min-height: 600px;
}
.form-modify #question {
  height: 70px;
}
.form-modify #answer {
  height: 300px;
}
.form-modify .btn {
  color: #fff;
  background-color: #259c58;
}
.return-link {
  margin: 20px;
  font-weight: bold;
  font-size: 1.5em;
  /*a {
        padding: 5px;
        border: 1px dashed #000;
        border-radius: 10px;
    }*/
}