@model List<LawFirm.Presenter.Models.QuestionViewModel>
@{
    ViewBag.Title = "Часто задаваемые вопросы";
}
<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>

<div class="container body-content">
    <div class="panel-group" id="accordion">
        @for (int i = 0; i < Model.Count(); i++) {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href='#collapse@(i + 1)'>
                            @Model.ElementAt(i).QuestionText
                        </a>
                    </h4>
                </div>
                <div id='collapse@(i + 1)' class='@( i == 0 ? "panel-collapse collapse in" : "panel-collapse collapse")'>
                    <div class="panel-body">
                        @Model.ElementAt(i).Answer
                    </div>
                </div>
            </div>
        }
    </div>
</div>