@model bool

<div class=" result text-center">
    @if (Model)
    {
        <h1>Отзыв успешно принят!</h1>
    }
    else {
        <h1>Произошла ошибка!</h1>
        <div class="text-center">
            @Ajax.ActionLink("Попробовать еще раз", "TestimonialForm", "Testimonial",new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "testimonial" })
        </div>
    }
</div>