@using LawFirm.Presenter.Models.TestimonialViewModels

@model TestimonialView

@{
    ViewBag.Title = "Отзывы клиентов";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content testimonials">

    @Html.Partial("_TestimonialList", Model.Testimonials)

    @Html.Partial("_TestimonialForm", new TestimonialFormViewModel())

</div>