@{
    ViewBag.Title = "Отзывы клиентов";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content testimonials">
    <div class="col-md-4 testimonials-container">
        <div class="testimonial-block">
            <div class="author">
                <h2>Елена Домброва</h2>
            </div>
            <div class="testimonial-text">
                <h4>
                    Адвокат добился прекращения уголовного дела в отношении близкого
                    для меня человека. Огромное ему спасибо. Выручил в тяжелой
                    ситуации, когда был действительно нужен хороший адвокат.
                </h4>
            </div>
            <div class="date">
                <p>
                    25.05.16
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-4 testimonials-container">
        <div class="testimonial-block">
            <div class="author">
                <h2>Елена Домброва</h2>
            </div>
            <div class="testimonial-text">
                <h4>
                    Адвокат добился прекращения уголовного дела в отношении близкого
                    для меня человека. Огромное ему спасибо. Выручил в тяжелой
                    ситуации, когда был действительно нужен хороший адвокат.
                </h4>
            </div>
            <div class="date">
                <p>
                    25.05.16
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-4 testimonials-container">
        <div class="testimonial-block">
            <div class="author">
                <h2>Елена Домброва</h2>
            </div>
            <div class="testimonial-text">
                <h4>
                    Адвокат добился прекращения уголовного дела в отношении близкого
                    для меня человека. Огромное ему спасибо. Выручил в тяжелой
                    ситуации, когда был действительно нужен хороший адвокат.
                </h4>
            </div>
            <div class="date">
                <p>
                    25.05.16
                </p>
            </div>
        </div>

    </div>
</div>

