@{
    ViewBag.Title = "Подтверждение пароля (если он был забыт).";
}

<div class="title-page-wrap">
    <div class="container">
        <h2 class="page-title">@ViewBag.Title</h2>
    </div>
</div>
<div class="container body-content">
    <div>
        <p>
            Проверьте электронную почту, чтобы сбросить пароль.
        </p>
    </div>

</div>

